@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background-color:darkslategray;
}

.content {
    margin-left: 200px;
    text-align: center;
    margin-top: 5%;
}

.box {
    height: 800px;
    width: 500px;
    float: left;
}

.box:hover {
    
    height: 830px;
    width: 550px; 
    display: flex;
   
}
#center {
    text-align: center;
    margin-top: 0%;
}
img{
    height: 800px;
    width: 500px;
    transition: 1s;
}
img:hover{
    height: 830px;
    width: 550px;
   display: flex;
}

div.word {
    padding: 0px;
    text-align: center;
}


div.content{
    font-family: 'Shadows Into Light', cursive;
    
}
#kep{
    width: 750px;
    height: 250px;
}
button{
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        opacity: 0.9;
        right: auto;
}
